{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Health is Wealth</title>
    <!-- Bootstrap -->
    <link href="{% static 'csss/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Style CSS -->
    <link href="{% static 'csss/style.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
    <link href="{% static 'csss/owl.carousel.min.css' %}" rel="stylesheet">
        <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>


    {% comment %} <link href="{% static csss/owl.theme.default.css %}" rel="stylesheet"> {% endcomment %}
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'csss/fontello.css' %}">
    <link href="{% static 'csss/font-awesome.min.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block content %}{% endblock  %}

    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-about-start -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="footer-widget">
                        <h3 class="footer-title">Contact Infomation</h3>
                        <div class="">
                            <ul>
                                <li> <i class="icon-placeholder"></i>2177 Shearwood Forest , NH 03801</li>
                                <li><i class="icon-phone-call"></i>+180-123-4567</li>
                                <li><i class="icon-envelope"></i>info@dietcoach.com</li>
                            </ul>
                        </div>
                        <div class="footer-social"> <a href="#"><span><i class="fa fa-facebook-square"></i></span></a>
                            <a href="#"><span><i class="fa fa-google-plus-square"></i></span> </a> <a href="#"><span
                                    class="active"><i class="fa fa-twitter-square"></i> </span></a> <a href="#"><span><i
                                        class=" fa fa-pinterest-square"></i> </span></a> <a href="#"><span><i
                                        class="fa fa-linkedin-square"></i></span></a> </div>
                    </div>
                </div>
                <!-- footer-useful links-start -->
                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <ul class="angle angle-right">
                            <li><a href="#">Home </a></li>
                            <li><a href="#">Service </a></li>
                            <li><a href="#">About me</a></li>
                            <li><a href="#">Diet Plans </a></li>
                            <li> <a href="#">Blog</a></li>
                            <li> <a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-useful links-close -->
                <!-- footer-form-start -->
                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">contact us</h3>
                        <form>
                            <div class="form-group">
                                <label class="control-label sr-only" for="name"></label>
                                <input id="name" type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label class="control-label sr-only" for="Email"></label>
                                <input id="email" type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="control-label sr-only" for="Phone"></label>
                                <input id="phone" type="text" class="form-control" placeholder="Phone">
                            </div>
                            <div class="form-group">
                                <label class="control-label sr-only" for="textarea"></label>
                                <textarea class="form-control" id="textarea" name="textarea" rows="3"
                                    placeholder="textarea"></textarea>
                            </div>
                            <button class="btn btn-primary btn-sm">submit</button>
                        </form>
                    </div>
                </div>
                <!-- footer-tiny-text-start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tiny-footer">
                        <p>© 2023. All Rights Reserved.</p>
                    </div>
                </div>
                <!-- footer-tiny-text-start -->
                <!-- footer-form-close -->
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/navigation.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/menumaker.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sticky-header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/testimonial-slider.js' %}"></script>
</body>
</html>