{% load static %}
{% load pwa %}
<!doctype html>
<html lang="en">

<head>
{% progressive_web_app_meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Health {% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{% url 'home' %}">Health</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if user.is_authenticated %}
            <!-- <li class="nav-item"> -->
                <!-- <ul class="navbar-nav mr-auto"> -->
                <!-- </ul> -->
            <!-- </li> -->
            <ul class="navbar-nav ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'article_new' %}">+ New Article</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'recipe_new' %}">+ New Recipe</a>
                </div>
                </li>
            </ul>
            {% else %}
            <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                    Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
                    Sign up</a>
            </form>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock content %}</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'css/jquery-3.3.1.slim.min.js' %}">
    </script>
    <script src="{% static  'css/popper.min.js' %}">
    </script>
    <script src="{% static 'css/bootstrap.min.js' %}">
    </script>
</body>

</html>