{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Health News</h1>
    <p class="lead">The Best health news from the best of best.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a>

        <a class="btn btn-primary btn-lg" href="{% url 'recipe_list' %}" role="button">View All Recipes</a>
    </p>
</div>
{% endblock content %}