{% extends 'base_2.html' %}
{% block content %}
{% load static %}


<div class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <a href="{% url 'home' %}"><img src="" alt="">LoGo</a>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}" title="Home">Home</a></li>

                            <li class="has-sub"><a href="{% url 'article_list' %}" href="{% url 'recipe_list' %}" title="Blogs ">Blogs</a>
                                <ul>
                                    <li><a href="{% url 'article_list' %}" title="article">Article</a></li>
                                    <li><a href="{% url 'recipe_list' %}" title="recipe">Recipe</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
                <div class="header-btn"><a href="#sub" class="btn btn-default">get started</a></div>
            </div>
        </div>
    </div>
</div>
<!-- header-section close -->
<!-- slider-start -->
<div class="slider">
    <div class="owl-carousel slider">
        <div class="item">
            <div class="slider-img"> <img src="{% static 'images/slider-1.jpg' %}" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12  col-xs-12">
                        <div class="slider-profile">
                            <div class="back-pic"></div>
                            <div class="profile"><img src="{% static 'images/profile.jpg' %}" alt=""
                                    class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Hi, This is the
                                place for you and your
                                Nutrition</h1>
                            <p class="slider-text hidden-xs">Healthy habits | Track Calories </p>
                            <a href="#avout" class="btn btn-default btn-lg hidden-sm hidden-xs">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="{% static 'images/slider-2.jpg' %}" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12  col-xs-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">Create Lean &amp;
                                Healthy Body
                                For Life</h1>
                            <p class="slider-text hidden-xs">Create Lean | Healthy Body | Healthy Life</p>
                            <a href="#serv" class="btn btn-default btn-lg hidden-sm hidden-xs">View  Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="{% static 'images/slider-3.jpg' %}" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12  col-xs-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                        <div class="slider-captions">
                            <h1 class="slider-title">LET'S BEGIN YOUR
                                HEALTHIEST JOURNEY
                                TOGETHER</h1>
                            <p class="slider-text hidden-xs">Lets Begin | Healthiest Journey | Together </p>
                            <a href="#sub" class="btn btn-default btn-lg  hidden-sm hidden-xs">Get started Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-close -->
<!-- service-start -->
<div class="space-medium bg-light" id="serv">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <!-- section title start-->
                    <!-- <h1>S</h1> -->
                    <p>Specialised advice to assist you in reaching your  goals.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="service-block ">
                    <div class="service-img"><a href="#"><img src="{% static 'images/service-1.jpg' %}"></a></div>
                    <div class="service-content">
                        <h3><a href="#">NUTRITION COUNSELING</a></h3>
                        <p>Aenean luctus erat quis varius sollicitudin. Fusce ac risus arcu. Duis iaculis tristique
                            enim non malesuada. Proin porttitor libero nunc nec luctus risus hendrerit non.</p>
                        <a href="#" class="btn-link">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="service-block ">
                    <div class="service-img"><a href="#"><img src="{% static 'images/service-2.jpg' %}"></a></div>
                    <div class="service-content">
                        <h3><a href="#">CORPORATE WELLNESS</a></h3>
                        <p>Integer dictum et orci ac feugiat. Fusce laoreet mauris et bibendum fringilla. Praesent
                            lectus antte eget tempougiat ac orci. In justo nibh sodales ut imperdiet vel viverra at
                            lectus.</p>
                        <a href="#" class="btn-link">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
<!-- diet-plan-start -->
<div class="space-medium" id="sub">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <!-- section title start-->
                    <h1>Nutrition Plans</h1>
                    <p>Once a plan is purchased, you should expect to begin your plan in 2 weeks.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
            <!-- Doctor plans -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="plan-block">
                    <div class="plan-header">
                        <h3>Doctor Plan </h3>
                        <p class="plan-price">$399.99</p>
                    </div>
                    <div class="plan-content">
                        <ul class="angle angle-right">
                            <li>Create Blogs</li>
                            <li>Create Recipes</li>
                            <li>Access to over 1000+ healthy recipes</li>
                            <li>Nutritional data to support calorie counting</li>
                            <li>Swap to suit your personal taste and lifestyle</li>
                            <li>Calorie Tracker. </li>
                        </ul>
                        <a href="{% url 'plan' %}" class="btn btn-default" style="word-wrap: break-word;">Start Your Journey
                            Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- diet-plan-close -->
<!-- about start -->
<div class="space-medium bg-light" id="avout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                <div class="about-section">
                    <h1>About Us</h1>
                    <p>Vestibulum quis massa nunroin tincidunt imper odio congue felis Perrnon porttiultricies
                        aurasitame. </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt20">
                            <h3>Our Approaches</h3>
                            <p>Sed accumsan libero quis lectus tempusmus liberoesw phare enimroin elementum.</p>
                            <a href="#" class="btn btn-default">More About Us</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt20">
                            <h3>GETTING STARTED</h3>
                            <p>Sed accumsan libero quis lectus fermentum ac faucibus tempusn enimroin elementum.</p>
                            <a href="#" class="btn btn-primary">get-started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-5 col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="">
                    <img src="{% static 'images/about-pic.jpg' %}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-close -->
<!-- news-start -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <!-- section title start-->
                    <h1>Latest News &amp; Diet Tips</h1>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            {% for x in recipe %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="post-block">

                    <div class="post-img">
                        <a href="#" class="imghover">
                            <img src="{{ x.image.url }}" alt="" class="img-responsive"></a>
                    </div>
                    <!-- post block -->
                    <div class="post-content">
                        <div class="meta">
                            <span class="meta-categories"><a href="#">{{ x.category }}</a></span>
                            <span class="meta-date">30 July, 2020</span>
                        </div>
                        <h4><a href="#" class="title">{{ x.title }}</a></h4>
                        <p>{{ x.body }}</p>
                        <!-- <a href="*" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="space-medium">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <!-- section title start-->
                            <h1>Latest News &amp; Diet Tips</h1>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
        <div class="row">
            {% for z in article %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="post-block">

                    <div class="post-img">
                        <a href="#" class="imghover">
                            <img src="{{ z.image.url }}" alt="" class="img-responsive"></a>
                    </div>
                    <!-- post block -->
                    <div class="post-content">
                        <div class="meta">
                            <span class="meta-categories"><a href="#">{{ z.category }}</a></span>
                            <span class="meta-date">30 July, 2020</span>
                        </div>
                        <h4><a href="#" class="title">{{ z.title }}</a></h4>
                        <p>{{ z.body }}</p>
                        <!-- <a href="#" class="btn-link">read more</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

<!-- div> -->
</div>
<!-- news-close -->
<!-- testimonials-start -->
<!-- <div class="space-medium bg-light">
    <div class="container">
        <div class="testimonial-carousel">
            <div class="owl-carousel slider">
                <div class="item">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <img src="{% static 'images/quote.png' %}" alt="">
                                </div>
                                <div class="">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-empty"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                <h2>How Tracy Lost 25 lbs &amp;
                                    Kept It Off</h2>
                                <p class="testimonial-text">"I am happier and I have a lot more self-confidence when
                                    I am very active and eating clean libero purus imperdiet tortor, nec aliquam dui
                                    tortor at elit proin ac elit tortor"</p>
                                <div class="testimonial-meta">
                                    <span>- Tracy Adamcz</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <img src="{% static 'images/quote.png' %}" alt="">
                                </div>
                                <div class="">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-empty"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                <h2>Help for emotional binge
                                    eating</h2>
                                <p class="testimonial-text">“I really wanted to change my lifestyle and become more
                                    deliberate in making healthy choices. I realized that this wasn’t a feat that I
                                    could do by myself. ”</p>
                                <div class="testimonial-meta">
                                    <span>-Ryder Lothian</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <img src="{% static 'images/quote.png' %}" alt="">
                                </div>
                                <div class="">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-empty"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                <h2>Help for a better food and
                                    body fit</h2>
                                <p class="testimonial-text">“I’m very grateful. Her supportive manner has made this
                                    task easy. A couple more kilos and I’ll be fitting into my wedding dress, She
                                    made me feel confident in her ability to help with my specific health concerns.”
                                </p>
                                <div class="testimonial-meta">
                                    <span>-Brock Lambrick</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- testimonials-close  -->


{% endblock %}